<div class="px-48 pt-10">
    <div class="flex justify-evenly">
        <img src="https://images.unsplash.com/photo-1613844237701-8f3664fc2eff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNvdXB8ZW58MHwxfDB8fHww&auto=format&fit=crop&w=380&q=60" class="rounded-xl border-black border-2">
        <div class="w-2/5">
            <p class="text-3xl mt-10 mb-10 text-yellow-950">Welcome to foodShop, we bring you an experience to remember. Join us to explore a variety of dishes!</p>
            <a href="/menu" class="text-2xl text-white bg-orange-800 px-4 pb-2 pt-0.5 ml-24 rounded-lg border-black border-2">Get Started</a>
        </div>
    </div>
    
</div>