<div *ngIf="show" class="text-xl bg-amber-300 absolute top-0 left-0 h-screen w-full z-3 bg-opacity-70" id="modal">
    <svg (click)="this.onClose.emit()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="cursor-pointer w-10 h-10 absolute top-5 right-5 text-white">
        <path
            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
    </svg>
    <div class="my-16">
        <div class="mx-48 mb-5 flex flex-col">
            <label for="name" class="py-2 px-1.5">Dish Name</label>
            <input type="text" id="name" [(ngModel)]="name" placeholder="Enter Dish Name" class="mr-72 py-2 px-1.5 rounded">
        </div>
        <div class="mx-48 mb-5 flex flex-col">
            <label for="category" class="py-2 px-1.5">Choose a Category</label>
            <select id="category" [(ngModel)]="categ" class="mr-72 py-2 px-1.5 rounded">
                <option *ngFor="let type of category" [ngValue]="type.cat">{{type.cat}}</option>
            </select>
        </div>
        <div class="mx-48 mb-5 flex flex-col">
            <label for="description" class="py-2 px-1.5">Description</label>
            <input type="text" id="description" [(ngModel)]="description" placeholder="Enter Dish Description" class="mr-72 py-2 px-1.5 rounded">
        </div>
        <div class="mx-48 mb-5 flex flex-col">
            <label for="imgUel" class="py-2 px-1.5">Image URL</label>
            <input type="text" id="imgUrl" [(ngModel)]="imgUrl" placeholder="Enter the Image URL" class="mr-72 py-2 px-1.5 rounded">
        </div>
        <div class="mx-48 mb-5 flex flex-col">
            <label for="price" class="py-2 px-1.5">Price</label>
            <input type="number" id="price" [(ngModel)]="price" placeholder="Enter the Price" class="mr-72 py-2 px-1.5 rounded">
        </div>
        <div class="mx-48 mb-5 flex flex-col">
            <button (click)="addDish()" class="bg-emerald-400 p-2 mr-72 rounded">Add Dish</button>
        </div>
        <!-- <div class="mx-48 mb-5 flex flex-col">
            <button (click)="updateDish()" class="bg-emerald-400 p-2 mr-72 rounded">Update Dish</button>
        </div> -->
    </div>
</div>